@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-image: url('./assets/pexels-robertkso-15208152.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}